<div class="middle">
  <div class="container ">
    <div class="jumbotron">
    <h1> Bienvenido a nuestra APP</h1>
    <p>
      <a class="btn btn-primary btn-lg" href="register" role="button">Register</a>
      <a class="btn btn-primary btn-lg" href="login" role="button">Login</a>
    </p>
  </div>
  </div>
</div>
